{% extends 'base.html' %}

{% block title %} Madlibs! {% endblock %}

{% block content %}

  <h1 class="pt-4 mb-3 text-center">Madlibs!</h1>

  <form action="/questions" class="pb-4">

    <div class="mb-3 row">
      <label class="col-5 col-form-label text-end">Template</label>
      <div class="col-7">
        <select
            name="template"
            required
            aria-label="template"
            class="form-control">
            {% for template in templates %}
            <option value="{{template}}">{{template}}</option>
            {% endfor %}
          </select>
      </div>
    </div>

    <button class="btn btn-primary btn-lg w-100">
      Make My Story!
    </button>
  </form>

{% endblock %}